/* ----- general tag css START -----*/

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

/* ----- general tag css END -----*/

/* ----- general class css START -----*/

/* Heading */

.big-heading {
    font-size:3.5rem;
    line-height:1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Container */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #ff3c68;
    color : #fff;
}

.white-section {
    background-color: white;
}


/* ----- general class css START -----*/



/* ---------- Top (Header) section css Start ----------*/

/* ----- Navigation Bar Start -----*/

/* 1040px 이하에서는 4rem으로 조정 */
#title nav {
    padding-bottom: 4.5rem; 
}

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size : 2.5rem;
    font-weight: bold;
}

li.nav-item {
    padding : 0 18px;
}

.nav-link {
    font-size : 1.2rem;
    font-weight:400;
}

/* ----- Navigation Bar End -----*/


/* ----- Title Start -----*/

/* 마진을 퍼센트로 지정하게 되면 부모요소의 width를 기준으로 퍼센트 적용이 된다. */
#title button {
    margin : 5% 3% 5% 0;
}

.title-img-box {
    position : relative;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
    position : absolute;
    right : 30%;
}

@media (max-width: 1040px) {
    #title {
        text-align: center;
    }

    #title nav {
        padding-bottom: 4rem; 
    }

    #title nav .nav-item {
        text-align: right;
    }

    .title-img-box {
        margin-top : 3rem;
    }

    .title-img {
        position : static;
        transform : none;
    }
}

/* ----- Title END -----*/

/* 
    <Trouble Shooting>
    1. title-img 에 absolute를 주게 되면 title을 감싸고 있는 div의 크기(height)가 img에 크기에서 독립적이게 된다.
    2. 즉, title section의 크기를 직접적으로 조정해주지 않아도 알아서 줄어든다.
    3. 그러나 title-img 의 크기를 부모요소의 60%로 줄여놨는데 absolute를 쓰게 되면 원래 부모를 벗어나서 가장 가까운 position이 relative인 요소를 찾게됨. 만약 없다면 viewport 
        -> 그래서 이미지가 엄청 커지는 것
    4. 따라서 이를 해결하려면 가까운 부모 요소에 position을 relative를 준다.
*/

/* ---------- Top (Header) section css End ---------- */



/* ----- Features section css Start ----- */
#features {
    position : relative;
    /* z-index:1; 없어도 title-img 보다 html 구조상 아래 위치해 있기 때문에 더 위에 위치 */
}

.feature-box {
    padding : 5%;
}

.feature-box i {
    margin-bottom: 1rem;
    color: #ef8172;
}

.feature-box i:hover {
    margin-bottom: 1rem;
    color: #ff4c68;
}

.feature-heading {
    font-size: 1.5rem;
}

@media (min-width: 1400px) {
    .feature-box h3 {
        white-space: nowrap;
        display: flex;
        justify-content: center;
    }
}

/* ----- Features section css End ----- */


/* ----- Testimonials section css Start ----- */
#testimonials {
    background-color: #ef8172;
}

#testimonials .carousel-indicators {
    margin-bottom : 4rem;
}

#testimonials .carousel-indicators button {
    width : 10px;
    height: 10px;
    border-radius : 100%;
    margin : 0 4px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials img {
    margin: 20px;
    width: 10%;
    border-radius: 100%;
}
/* ----- Testimonials section css End ----- */


/* ----- Press section css Start -----*/


#press {
    background-color: #ef8172;
    padding-bottom: 3%; /* 공간의 영역 확보 */ 
}

/* ❗❗ screen 작아지면 그림 엄청작아짐 -> responsive 수정 ❗❗ */
#press img {
    width : 15%;
    margin: 20px 20px 50px; /* 개별적인 요소 분리 */
}


/* ----- Press section css End ----- */


/* ----- Pricing section css START ----- */

/* 카드 안에 있는 h2, h3 요소들은 bootStrap Card 설정의 h2,h3 style을 따름. => 일정 사이즈 이하면 고정 사이즈 + vw단위로 글씨크기를 화면에 맞춰 자연스럽게 바뀌게 함
(물론 바꾸어주어도 됨.)  
*/

#pricing {
    padding : 100px;
}

#pricing .row > div {
    padding : 3% 2%;
}

/* ----- Pricing section css END ----- */


/* ----- Call-to-Action section css START ----- */

#cta button {
    margin : 5% 1% 0;
}

/* ----- Call-to-Action section css END ----- */


/* ----- footer section css START ----- */

.footer-link {
    margin-bottom: 1rem;
}

.footer-link a {
    color : black;
    margin : 0 0.5rem;
}

#footer p {
    font-size: 0.8rem;
    font-weight: 500;
}

/* ----- footer section css END ----- */
