body {
    margin : 0;
    text-align : center;
}
h1,h2 {
    /* color : #94B49F; */
    color : #14b5bb;
}

h1 {
    margin : 100px auto 0 auto;
    font-family: 'Delius', cursive;
    font-size : 4.6875rem;
}

h2 {
    font-size : 2.5rem;
    font-weight: normal;
    font-family: 'Radio Canada', sans-serif;
}

h3, a {
    /* color : #11999E; */
    color : #1d9296;
}

h3 {
    font-family: 'Radio Canada', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
    color : #40514E;
    line-height : 2;
}

hr {
    width : 10%;
    border-style : dotted none none;
    border-width : 10px;
    border-color: #EFEAD8;
    margin : 100px auto;
}
/* --------- General Style End ---------  */

/* --------- Top-Container Start ---------  */
.sub-title {
    margin-top : 30px;
    font-family: 'Quicksand', sans-serif;
}

.top-container {
    background-color: #d1f3ed;
    /* background-color: #40514E; */
    overflow: hidden;
    position : relative;
    z-index: 0;
}

.top-cloud {
    position : absolute;
    top : 50px;
    right : 15%;
}
.bottom-cloud {
    position:absolute;
    bottom : 315px;
    left : 20%;
    z-index: -1;
}

/* --------- Top-Container End ---------  */

/* --------- Middle-Container Start ---------  */

.middle-container {
    margin : 100px 0;
}

#profile-img {
    display : inline-block;
    width : 150px;
}
.profile > p {
    width : 50%;
    margin : 0 auto;
}

.skill-row {
    text-align : left;
    width:50%;
    margin : 100px auto 100px auto;
    /* 위에서 margin 상쇄가 일어나 skill-row 사이에 margin이 두번 적용되지 않음 */
}

.skill-row:after {
    content :" ";
    display:block;
    clear : both;
}

img[class$="-skill-img"] {
    width : 25%;
    /* background-color : #FAF4B7; */
    /* padding : 50px;
    border-radius: 100%; 
    padding을 주고 border-radius를 주어도 원래 이미지 크기에 b-r을 주고 거기에 padding을 주는 형태라 원래 이미지에 변화를 주는건 마찬가지*/
}

.first-skill-img {
    float:left;
    margin-right : 30px;
}


.second-skill-img {
    float:right;
    margin-left : 30px;
}

.contact-me {
    margin : 100px auto 50px auto;
    width : 50%;
}

.contact-me > p {
    margin-bottom : 50px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 11px 20px 10px 20px;
    text-decoration: none;
    margin : 100px auto;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

/* ~ : 뒤에 오는 */
/* + : 바로 뒤에 오는 */
/* .second-skill-img ~ p {
    clear : right;
} */

/* --------- Middle-Container End ---------  */

/* --------- Bottom-Container Start ---------  */

.bottom-container {
    background-color: #65bfbf;
    padding : 30px 0;
}

.footer-link {
    font-family: 'Radio Canada', sans-serif;
    text-decoration: none;
    margin : 0 10px;
}

.footer-link:hover {
    color : #EAF6F6;
}

.bottom-container > p:last-child {
    color : #EAF6F6;
    font-size : 0.5rem;
    margin : 20px auto 0 auto;
    font-weight: bold;
}